In [1]:
# Installing pyspark

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=e9f1a547dd14e54e90181db44a203249cfa7e2633f366f81f523aa8eb3dcc4ae
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
# Import necessary libraries

import pandas as pd
from pyspark.sql import SparkSession
from pyspark.ml.feature import OneHotEncoder, VectorAssembler, StandardScaler
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.sql.functions import col, when
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, DateType

In [3]:
# Initialise spark session

spark = SparkSession.builder.getOrCreate()

In [4]:
# Load the dataset

data = spark.read.csv('/content/weatherAUS.csv', header=True)

In [5]:
# Display data

data.show()

+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RISK_MM|RainTomorrow|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|         NA|      NA|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|       8|      NA|   16.9|   21.8|       No|      0|          No|
|2008-12-02|  Albury|    7.4|   25.1|       0|         NA|      NA|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|      NA|      NA|   17.2|   24.3|       No|      0|          No|
|2008-12-03|  Albury|   12.9|   25.7|       0|         NA|      NA|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|      NA|       2|     21|   23.2|       No|      0|          No|
|2008-12-04|  Albury|    9.2|     28|       0|         NA|      NA|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|      NA|      NA|   18.1|   26.5|       No|      1|          No|
|2008-12-05|  Albury|   17.5|   32.3|       1|         NA|      NA|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|       1006|       7|       8|   17.8|   29.7|       No|    0.2|          No|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|         NA|      NA|        WNW|           56|         W|         W|          19|          24|         55|         23|     1009.2|     1005.4|      NA|      NA|   20.6|   28.9|       No|      0|          No|
|2008-12-07|  Albury|   14.3|     25|       0|         NA|      NA|          W|           50|        SW|         W|          20|          24|         49|         19|     1009.6|     1008.2|       1|      NA|   18.1|   24.6|       No|      0|          No|
|2008-12-08|  Albury|    7.7|   26.7|       0|         NA|      NA|          W|           35|       SSE|         W|           6|          17|         48|         19|     1013.4|     1010.1|      NA|      NA|   16.3|   25.5|       No|      0|          No|
|2008-12-09|  Albury|    9.7|   31.9|       0|         NA|      NA|        NNW|           80|        SE|        NW|           7|          28|         42|          9|     1008.9|     1003.6|      NA|      NA|   18.3|   30.2|       No|    1.4|         Yes|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|         NA|      NA|          W|           28|         S|       SSE|          15|          11|         58|         27|       1007|     1005.7|      NA|      NA|   20.1|   28.2|      Yes|      0|          No|
|2008-12-11|  Albury|   13.4|   30.4|       0|         NA|      NA|          N|           30|       SSE|       ESE|          17|           6|         48|         22|     1011.8|     1008.7|      NA|      NA|   20.4|   28.8|       No|    2.2|         Yes|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|         NA|      NA|        NNE|           31|        NE|       ENE|          15|          13|         89|         91|     1010.5|     1004.2|       8|       8|   15.9|     17|      Yes|   15.6|         Yes|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|         NA|      NA|          W|           61|       NNW|       NNW|          28|          28|         76|         93|      994.3|        993|       8|       8|   17.4|   15.8|      Yes|    3.6|         Yes|
|2008-12-14|  Albury|   12.6|     21|     3.6|         NA|      NA|         SW|           44|         W|       SSW|          24|          20|         65|         43|     1001.2|     1001.8|      NA|       7|   15.8|   19.8|      Yes|      0|          No|
|2008-12-16|  Albury|    9.8|   27.7|      NA|         NA|      NA|        WNW|           50|        NA|       WNW|          NA|          22|         50|         28|     1013.4|     1010.3|       0|      NA|   17.3|   26.2|       NA|      0|          No|
|2008-12-17|  Albury|   14.1|   20.9|       0|         NA|      NA|        ENE|           22|       SSW|         E|          11|           9|         69|         82|     1012.2|     1010.4|       8|       1|   17.2|   18.1|       No|   16.8|         Yes|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|         NA|      NA|          W|           63|         N|       WNW|           6|          20|         80|         65|     1005.8|     1002.2|       8|       1|     18|   21.5|      Yes|   10.6|         Yes|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|         NA|      NA|        SSE|           43|       WSW|        SW|          24|          17|         47|         32|     1009.4|     1009.7|      NA|       2|   15.5|     21|      Yes|      0|          No|
|2008-12-20|  Albury|    9.8|   25.6|       0|         NA|      NA|        SSE|           26|        SE|       NNW|          17|           6|         45|         26|     1019.2|     1017.1|      NA|      NA|   15.8|   23.2|       No|      0|          No|
|2008-12-21|  Albury|   11.5|   29.3|       0|         NA|      NA|          S|           24|        SE|        SE|           9|           9|         56|         28|     1019.3|     1014.8|      NA|      NA|   19.1|   27.3|       No|      0|          No|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
only showing top 20 rows

In [6]:
# Display name and data type of each column

data.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- MinTemp: string (nullable = true)
 |-- MaxTemp: string (nullable = true)
 |-- Rainfall: string (nullable = true)
 |-- Evaporation: string (nullable = true)
 |-- Sunshine: string (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: string (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: string (nullable = true)
 |-- WindSpeed3pm: string (nullable = true)
 |-- Humidity9am: string (nullable = true)
 |-- Humidity3pm: string (nullable = true)
 |-- Pressure9am: string (nullable = true)
 |-- Pressure3pm: string (nullable = true)
 |-- Cloud9am: string (nullable = true)
 |-- Cloud3pm: string (nullable = true)
 |-- Temp9am: string (nullable = true)
 |-- Temp3pm: string (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RISK_MM: string (nullable = true)
 |-- RainTomorrow: string (nullable = true)

In [7]:
# Change the data type of columns since pyspark is considering all columns as strings

schema = StructType([
    StructField("Date", DateType()),
    StructField("Location", StringType(), True),
    StructField("MinTemp", DoubleType(), True),
    StructField("MaxTemp", DoubleType(), True),
    StructField("Rainfall", DoubleType(), True),
    StructField("Evaporation", DoubleType(), True),
    StructField("Sunshine", DoubleType(), True),
    StructField("WindGustDir", StringType(), True),
    StructField("WindGustSpeed", DoubleType(), True),
    StructField("WindDir9am", StringType(), True),
    StructField("WindDir3pm", StringType(), True),
    StructField("WindSpeed9am", DoubleType(), True),
    StructField("WindSpeed3pm", DoubleType(), True),
    StructField("Humidity9am", DoubleType(), True),
    StructField("Humidity3pm", DoubleType(), True),
    StructField("Pressure9am", DoubleType(), True),
    StructField("Pressure3pm", DoubleType(), True),
    StructField("Cloud9am", DoubleType(), True),
    StructField("Cloud3pm", DoubleType(), True),
    StructField("Temp9am", DoubleType(), True),
    StructField("Temp3pm", DoubleType(), True),
    StructField("RainToday", StringType(), True),
    StructField("RISK_MM", DoubleType(), True),
    StructField("RainTomorrow", StringType(), True)
])

In [8]:
# Read the data

data = spark.read.option("header", "true").schema(schema).csv("/content/weatherAUS.csv")

In [9]:
# Check the data type of each column

data.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Location: string (nullable = true)
 |-- MinTemp: double (nullable = true)
 |-- MaxTemp: double (nullable = true)
 |-- Rainfall: double (nullable = true)
 |-- Evaporation: double (nullable = true)
 |-- Sunshine: double (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: double (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: double (nullable = true)
 |-- WindSpeed3pm: double (nullable = true)
 |-- Humidity9am: double (nullable = true)
 |-- Humidity3pm: double (nullable = true)
 |-- Pressure9am: double (nullable = true)
 |-- Pressure3pm: double (nullable = true)
 |-- Cloud9am: double (nullable = true)
 |-- Cloud3pm: double (nullable = true)
 |-- Temp9am: double (nullable = true)
 |-- Temp3pm: double (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RISK_MM: double (nullable = true)
 |-- RainTomorrow: string (nullable = true)

In [10]:
# Display data

data.show()

+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RISK_MM|RainTomorrow|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       NULL|    NULL|          W|         44.0|         W|       WNW|        20.0|        24.0|       71.0|       22.0|     1007.7|     1007.1|     8.0|    NULL|   16.9|   21.8|       No|    0.0|          No|
|2008-12-02|  Albury|    7.4|   25.1|     0.0|       NULL|    NULL|        WNW|         44.0|       NNW|       WSW|         4.0|        22.0|       44.0|       25.0|     1010.6|     1007.8|    NULL|    NULL|   17.2|   24.3|       No|    0.0|          No|
|2008-12-03|  Albury|   12.9|   25.7|     0.0|       NULL|    NULL|        WSW|         46.0|         W|       WSW|        19.0|        26.0|       38.0|       30.0|     1007.6|     1008.7|    NULL|     2.0|   21.0|   23.2|       No|    0.0|          No|
|2008-12-04|  Albury|    9.2|   28.0|     0.0|       NULL|    NULL|         NE|         24.0|        SE|         E|        11.0|         9.0|       45.0|       16.0|     1017.6|     1012.8|    NULL|    NULL|   18.1|   26.5|       No|    1.0|          No|
|2008-12-05|  Albury|   17.5|   32.3|     1.0|       NULL|    NULL|          W|         41.0|       ENE|        NW|         7.0|        20.0|       82.0|       33.0|     1010.8|     1006.0|     7.0|     8.0|   17.8|   29.7|       No|    0.2|          No|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       NULL|    NULL|        WNW|         56.0|         W|         W|        19.0|        24.0|       55.0|       23.0|     1009.2|     1005.4|    NULL|    NULL|   20.6|   28.9|       No|    0.0|          No|
|2008-12-07|  Albury|   14.3|   25.0|     0.0|       NULL|    NULL|          W|         50.0|        SW|         W|        20.0|        24.0|       49.0|       19.0|     1009.6|     1008.2|     1.0|    NULL|   18.1|   24.6|       No|    0.0|          No|
|2008-12-08|  Albury|    7.7|   26.7|     0.0|       NULL|    NULL|          W|         35.0|       SSE|         W|         6.0|        17.0|       48.0|       19.0|     1013.4|     1010.1|    NULL|    NULL|   16.3|   25.5|       No|    0.0|          No|
|2008-12-09|  Albury|    9.7|   31.9|     0.0|       NULL|    NULL|        NNW|         80.0|        SE|        NW|         7.0|        28.0|       42.0|        9.0|     1008.9|     1003.6|    NULL|    NULL|   18.3|   30.2|       No|    1.4|         Yes|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       NULL|    NULL|          W|         28.0|         S|       SSE|        15.0|        11.0|       58.0|       27.0|     1007.0|     1005.7|    NULL|    NULL|   20.1|   28.2|      Yes|    0.0|          No|
|2008-12-11|  Albury|   13.4|   30.4|     0.0|       NULL|    NULL|          N|         30.0|       SSE|       ESE|        17.0|         6.0|       48.0|       22.0|     1011.8|     1008.7|    NULL|    NULL|   20.4|   28.8|       No|    2.2|         Yes|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       NULL|    NULL|        NNE|         31.0|        NE|       ENE|        15.0|        13.0|       89.0|       91.0|     1010.5|     1004.2|     8.0|     8.0|   15.9|   17.0|      Yes|   15.6|         Yes|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       NULL|    NULL|          W|         61.0|       NNW|       NNW|        28.0|        28.0|       76.0|       93.0|      994.3|      993.0|     8.0|     8.0|   17.4|   15.8|      Yes|    3.6|         Yes|
|2008-12-14|  Albury|   12.6|   21.0|     3.6|       NULL|    NULL|         SW|         44.0|         W|       SSW|        24.0|        20.0|       65.0|       43.0|     1001.2|     1001.8|    NULL|     7.0|   15.8|   19.8|      Yes|    0.0|          No|
|2008-12-16|  Albury|    9.8|   27.7|    NULL|       NULL|    NULL|        WNW|         50.0|        NA|       WNW|        NULL|        22.0|       50.0|       28.0|     1013.4|     1010.3|     0.0|    NULL|   17.3|   26.2|       NA|    0.0|          No|
|2008-12-17|  Albury|   14.1|   20.9|     0.0|       NULL|    NULL|        ENE|         22.0|       SSW|         E|        11.0|         9.0|       69.0|       82.0|     1012.2|     1010.4|     8.0|     1.0|   17.2|   18.1|       No|   16.8|         Yes|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       NULL|    NULL|          W|         63.0|         N|       WNW|         6.0|        20.0|       80.0|       65.0|     1005.8|     1002.2|     8.0|     1.0|   18.0|   21.5|      Yes|   10.6|         Yes|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       NULL|    NULL|        SSE|         43.0|       WSW|        SW|        24.0|        17.0|       47.0|       32.0|     1009.4|     1009.7|    NULL|     2.0|   15.5|   21.0|      Yes|    0.0|          No|
|2008-12-20|  Albury|    9.8|   25.6|     0.0|       NULL|    NULL|        SSE|         26.0|        SE|       NNW|        17.0|         6.0|       45.0|       26.0|     1019.2|     1017.1|    NULL|    NULL|   15.8|   23.2|       No|    0.0|          No|
|2008-12-21|  Albury|   11.5|   29.3|     0.0|       NULL|    NULL|          S|         24.0|        SE|        SE|         9.0|         9.0|       56.0|       28.0|     1019.3|     1014.8|    NULL|    NULL|   19.1|   27.3|       No|    0.0|          No|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
only showing top 20 rows

In [11]:
# Number of rows and columns in the dataset

print("Number of rows and columns in the dataset:\n")
print(data.count(),len(data.columns))

Number of rows and columns in the dataset:

142193 24

**1. Explore the dataset to find what are the categorical variables in the dataset. List
categorical variable names.**

In [12]:
# Print Categorical variable names

categorical_variables = [col_name for col_name, data_type in data.dtypes if data_type == "string"]
print("categorical_variables:\n\n",categorical_variables)

categorical_variables:

 ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

**2. Explore how many categorical variables have null values.**

In [13]:
# Number of null values in each categorical variables

categorical_variables_null_values = {col: data.filter(data[col] == "NA").count() for col in categorical_variables}
print("Null values in categorical variables:\n")
print(categorical_variables_null_values)

Null values in categorical variables:

{'Location': 0, 'WindGustDir': 9330, 'WindDir9am': 10013, 'WindDir3pm': 3778, 'RainToday': 1406, 'RainTomorrow': 0}

**3. Get the frequency count of each categorical variable. For instance, how many discrete
values in each categorical variable and how many datapoints from each distinct value.**

In [14]:
# Number of distinct values and Frequency count of each categorical variable

for col_name in categorical_variables:
    print(f"Number of distinct values in {col_name}: {data.select(col_name).distinct().count()}")
    print(f"Frequency count for {col_name}:")
    data.groupBy(col_name).count().show()

Number of distinct values in Location: 49
Frequency count for Location:
+----------------+-----+
|        Location|count|
+----------------+-----+
|          Cairns| 2988|
|   NorfolkIsland| 2964|
|         Bendigo| 3034|
|        Canberra| 3418|
|           Cobar| 2988|
|   SydneyAirport| 3005|
|      Wollongong| 2983|
|     Williamtown| 2553|
|           Moree| 2854|
|         Mildura| 3007|
|        Portland| 2996|
|        Brisbane| 3161|
|          Sydney| 3337|
|            Sale| 3000|
|   BadgerysCreek| 2928|
|     Tuggeranong| 2998|
|        Ballarat| 3028|
|       GoldCoast| 2980|
|MelbourneAirport| 3009|
|        Dartmoor| 2943|
+----------------+-----+
only showing top 20 rows

Number of distinct values in WindGustDir: 17
Frequency count for WindGustDir:
+-----------+-----+
|WindGustDir|count|
+-----------+-----+
|        SSE| 8993|
|         SW| 8797|
|         NW| 8003|
|         NA| 9330|
|          E| 9071|
|        WSW| 8901|
|        ENE| 7992|
|         NE| 7060|
|        NNW| 6561|
|          N| 9033|
|        SSW| 8610|
|          W| 9780|
|          S| 8949|
|         SE| 9309|
|        WNW| 8066|
|        NNE| 6433|
|        ESE| 7305|
+-----------+-----+

Number of distinct values in WindDir9am: 17
Frequency count for WindDir9am:
+----------+-----+
|WindDir9am|count|
+----------+-----+
|       SSE| 8966|
|        SW| 8237|
|        NW| 8552|
|        NA|10013|
|         E| 9024|
|       WSW| 6843|
|       ENE| 7735|
|        NE| 7527|
|       NNW| 7840|
|         N|11393|
|       SSW| 7448|
|         W| 8260|
|         S| 8493|
|        SE| 9162|
|       WNW| 7194|
|       NNE| 7948|
|       ESE| 7558|
+----------+-----+

Number of distinct values in WindDir3pm: 17
Frequency count for WindDir3pm:
+----------+-----+
|WindDir3pm|count|
+----------+-----+
|       SSE| 9142|
|        NW| 8468|
|        SW| 9182|
|        NA| 3778|
|         E| 8342|
|       WSW| 9329|
|       ENE| 7724|
|        NE| 8164|
|       NNW| 7733|
|         N| 8667|
|       SSW| 8010|
|         W| 9911|
|         S| 9598|
|        SE|10663|
|       WNW| 8656|
|       NNE| 6444|
|       ESE| 8382|
+----------+-----+

Number of distinct values in RainToday: 3
Frequency count for RainToday:
+---------+------+
|RainToday| count|
+---------+------+
|       NA|  1406|
|       No|109332|
|      Yes| 31455|
+---------+------+

Number of distinct values in RainTomorrow: 2
Frequency count for RainTomorrow:
+------------+------+
|RainTomorrow| count|
+------------+------+
|          No|110316|
|         Yes| 31877|
+------------+------+

**4. Print the first five rows of the dataset**

In [15]:
# First five rows of the dataset

print("First five rows of the dataset:\n")
data.show(5)

First five rows of the dataset:

+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RISK_MM|RainTomorrow|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       NULL|    NULL|          W|         44.0|         W|       WNW|        20.0|        24.0|       71.0|       22.0|     1007.7|     1007.1|     8.0|    NULL|   16.9|   21.8|       No|    0.0|          No|
|2008-12-02|  Albury|    7.4|   25.1|     0.0|       NULL|    NULL|        WNW|         44.0|       NNW|       WSW|         4.0|        22.0|       44.0|       25.0|     1010.6|     1007.8|    NULL|    NULL|   17.2|   24.3|       No|    0.0|          No|
|2008-12-03|  Albury|   12.9|   25.7|     0.0|       NULL|    NULL|        WSW|         46.0|         W|       WSW|        19.0|        26.0|       38.0|       30.0|     1007.6|     1008.7|    NULL|     2.0|   21.0|   23.2|       No|    0.0|          No|
|2008-12-04|  Albury|    9.2|   28.0|     0.0|       NULL|    NULL|         NE|         24.0|        SE|         E|        11.0|         9.0|       45.0|       16.0|     1017.6|     1012.8|    NULL|    NULL|   18.1|   26.5|       No|    1.0|          No|
|2008-12-05|  Albury|   17.5|   32.3|     1.0|       NULL|    NULL|          W|         41.0|       ENE|        NW|         7.0|        20.0|       82.0|       33.0|     1010.8|     1006.0|     7.0|     8.0|   17.8|   29.7|       No|    0.2|          No|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
only showing top 5 rows

**5. What are the available columns of the dataset?**

In [16]:
# Columns in dataset

print("Columns of the dataset:\n\n", data.columns)

Columns of the dataset:

 ['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow']

**6. Drop RISK_MM variable column**

In [17]:
# Drop RISK_MM column
data=data.drop("RISK_MM")

# Print columns in dataset
print("Columns of the dataset after droping RISK_MM column:\n")
print(data.columns)

Columns of the dataset after droping RISK_MM column:

['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow']

**7. Get the summary of the dataset.**

In [18]:
# Display dataset summary

print("Summary:\n")
data.summary().show()

Summary:

+-------+--------+------------------+-----------------+-----------------+------------------+------------------+-----------+------------------+----------+----------+-----------------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+-----------------+-----------------+---------+------------+
|summary|Location|           MinTemp|          MaxTemp|         Rainfall|       Evaporation|          Sunshine|WindGustDir|     WindGustSpeed|WindDir9am|WindDir3pm|     WindSpeed9am|     WindSpeed3pm|       Humidity9am|       Humidity3pm|       Pressure9am|      Pressure3pm|          Cloud9am|         Cloud3pm|          Temp9am|          Temp3pm|RainToday|RainTomorrow|
+-------+--------+------------------+-----------------+-----------------+------------------+------------------+-----------+------------------+----------+----------+-----------------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+-----------------+-----------------+---------+------------+
|  count|  142193|            141556|           141871|           140787|             81350|             74377|     142193|            132923|    142193|    142193|           140845|           139563|            140419|            138583|            128179|           128212|             88536|            85099|           141289|           139467|   142193|      142193|
|   mean|    NULL|12.186399728729263|23.22678419127248|2.349974074310995|5.4698242163490995| 7.624853113193616|       NULL| 39.98429165757619|      NULL|      NULL|  14.001988000994|18.63757586179718|  68.8438103105705|51.482606091656265|1017.6537584159663|1015.258203537901| 4.437189391885787|4.503166899728551|16.98750858170129|21.68723497314778|     NULL|        NULL|
| stddev|    NULL| 6.403282674671343|7.117618141018147|8.465172917616444| 4.188536508895148|3.7815249942144633|       NULL|13.588800765487786|      NULL|      NULL|8.893337098234486|8.803345036235541|19.051292535336284|20.797771843698907|7.1054757115203016|7.036676783493396|2.8870155257336068|2.720632530403662|6.492838325478932|6.937593868533731|     NULL|        NULL|
|    min|Adelaide|              -8.5|             -4.8|              0.0|               0.0|               0.0|          E|               6.0|         E|         E|              0.0|              0.0|               0.0|               0.0|             980.5|            977.1|               0.0|              0.0|             -7.2|             -5.4|       NA|          No|
|    25%|    NULL|               7.6|             17.9|              0.0|               2.6|               4.9|       NULL|              31.0|      NULL|      NULL|              7.0|             13.0|              57.0|              37.0|            1012.9|           1010.4|               1.0|              2.0|             12.3|             16.6|     NULL|        NULL|
|    50%|    NULL|              12.0|             22.6|              0.0|               4.8|               8.5|       NULL|              39.0|      NULL|      NULL|             13.0|             19.0|              70.0|              52.0|            1017.6|           1015.2|               5.0|              5.0|             16.7|             21.1|     NULL|        NULL|
|    75%|    NULL|              16.8|             28.2|              0.8|               7.4|              10.6|       NULL|              48.0|      NULL|      NULL|             19.0|             24.0|              83.0|              66.0|            1022.4|           1020.0|               7.0|              7.0|             21.6|             26.4|     NULL|        NULL|
|    max| Woomera|              33.9|             48.1|            371.0|             145.0|              14.5|        WSW|             135.0|       WSW|       WSW|            130.0|             87.0|             100.0|             100.0|            1041.0|           1039.6|               9.0|              9.0|             40.2|             46.7|      Yes|         Yes|
+-------+--------+------------------+-----------------+-----------------+------------------+------------------+-----------+------------------+----------+----------+-----------------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+-----------------+-----------------+---------+------------+

**8. List first five rows only for categorical variables.**

In [19]:
# First five rows of categorical variables

print("First five rows for categorical variables:\n")
data.select(categorical_variables).show(5)

First five rows for categorical variables:

+--------+-----------+----------+----------+---------+------------+
|Location|WindGustDir|WindDir9am|WindDir3pm|RainToday|RainTomorrow|
+--------+-----------+----------+----------+---------+------------+
|  Albury|          W|         W|       WNW|       No|          No|
|  Albury|        WNW|       NNW|       WSW|       No|          No|
|  Albury|        WSW|         W|       WSW|       No|          No|
|  Albury|         NE|        SE|         E|       No|          No|
|  Albury|          W|       ENE|        NW|       No|          No|
+--------+-----------+----------+----------+---------+------------+
only showing top 5 rows

**9. Decompose the date field into year, month, and day fields. Then drop the original date
field.**

In [20]:
from pyspark.sql.functions import year, month, dayofmonth

# Decompose the Date field into Year, Month, and Day fields
data = data.withColumn('Year', year('Date')).withColumn('Month', month('Date')).withColumn('Day', dayofmonth('Date'))

# Drop the original Date field
data = data.drop('Date')
data.show(5)

+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+
|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|Year|Month|Day|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+
|  Albury|   13.4|   22.9|     0.6|       NULL|    NULL|          W|         44.0|         W|       WNW|        20.0|        24.0|       71.0|       22.0|     1007.7|     1007.1|     8.0|    NULL|   16.9|   21.8|       No|          No|2008|   12|  1|
|  Albury|    7.4|   25.1|     0.0|       NULL|    NULL|        WNW|         44.0|       NNW|       WSW|         4.0|        22.0|       44.0|       25.0|     1010.6|     1007.8|    NULL|    NULL|   17.2|   24.3|       No|          No|2008|   12|  2|
|  Albury|   12.9|   25.7|     0.0|       NULL|    NULL|        WSW|         46.0|         W|       WSW|        19.0|        26.0|       38.0|       30.0|     1007.6|     1008.7|    NULL|     2.0|   21.0|   23.2|       No|          No|2008|   12|  3|
|  Albury|    9.2|   28.0|     0.0|       NULL|    NULL|         NE|         24.0|        SE|         E|        11.0|         9.0|       45.0|       16.0|     1017.6|     1012.8|    NULL|    NULL|   18.1|   26.5|       No|          No|2008|   12|  4|
|  Albury|   17.5|   32.3|     1.0|       NULL|    NULL|          W|         41.0|       ENE|        NW|         7.0|        20.0|       82.0|       33.0|     1010.8|     1006.0|     7.0|     8.0|   17.8|   29.7|       No|          No|2008|   12|  5|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+
only showing top 5 rows

**10. How many unique locations are there in the dataset?**

In [21]:
# Number of unique locations in the dataset

print("Number of Unique Locations:\n")
data.select(col('Location')).distinct().count()

Number of Unique Locations:

49

**11. Print the number of times each unique location appears in the dataset.**

In [22]:
# Number of times each unique location appears in the dataset

print("Count of each Unique Location:\n")
data.groupBy('Location').count().show()

Count of each Unique Location:

+----------------+-----+
|        Location|count|
+----------------+-----+
|          Cairns| 2988|
|   NorfolkIsland| 2964|
|         Bendigo| 3034|
|        Canberra| 3418|
|           Cobar| 2988|
|   SydneyAirport| 3005|
|      Wollongong| 2983|
|     Williamtown| 2553|
|           Moree| 2854|
|         Mildura| 3007|
|        Portland| 2996|
|        Brisbane| 3161|
|          Sydney| 3337|
|            Sale| 3000|
|   BadgerysCreek| 2928|
|     Tuggeranong| 2998|
|        Ballarat| 3028|
|       GoldCoast| 2980|
|MelbourneAirport| 3009|
|        Dartmoor| 2943|
+----------------+-----+
only showing top 20 rows

**12. Perform One Hot Encoding for each categorical variable.**

In [23]:
# Index Categorical variables
from pyspark.ml.feature import StringIndexer

indexers = [StringIndexer(inputCol=col, outputCol=col+"_index", handleInvalid="keep") for col in categorical_variables]
indexer_pipeline = Pipeline(stages=indexers)
indexed_df = indexer_pipeline.fit(data).transform(data)

In [24]:
# One Hot Encoding for indexed categorical variables
encoder = OneHotEncoder(inputCols=[col+"_index" for col in categorical_variables],
                        outputCols=[col+"_encoded" for col in categorical_variables])
encoded_data = encoder.fit(indexed_df).transform(indexed_df)

In [25]:
# Display encoded data

print("Encoded data\n")
encoded_data.show(5)

Encoded data

+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|Year|Month|Day|Location_index|WindGustDir_index|WindDir9am_index|WindDir3pm_index|RainToday_index|RainTomorrow_index|Location_encoded|WindGustDir_encoded|WindDir9am_encoded|WindDir3pm_encoded|RainToday_encoded|RainTomorrow_encoded|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
|  Albury|   13.4|   22.9|     0.6|       NULL|    NULL|          W|         44.0|         W|       WNW|        20.0|        24.0|       71.0|       22.0|     1007.7|     1007.1|     8.0|    NULL|   16.9|   21.8|       No|          No|2008|   12|  1|          14.0|              0.0|             7.0|             7.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[0],[1.0])|    (17,[7],[1.0])|    (17,[7],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|    7.4|   25.1|     0.0|       NULL|    NULL|        WNW|         44.0|       NNW|       WSW|         4.0|        22.0|       44.0|       25.0|     1010.6|     1007.8|    NULL|    NULL|   17.2|   24.3|       No|          No|2008|   12|  2|          14.0|             10.0|            10.0|             3.0|            0.0|               0.0| (49,[14],[1.0])|    (17,[10],[1.0])|   (17,[10],[1.0])|    (17,[3],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|   12.9|   25.7|     0.0|       NULL|    NULL|        WSW|         46.0|         W|       WSW|        19.0|        26.0|       38.0|       30.0|     1007.6|     1008.7|    NULL|     2.0|   21.0|   23.2|       No|          No|2008|   12|  3|          14.0|              7.0|             7.0|             3.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[7],[1.0])|    (17,[7],[1.0])|    (17,[3],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|    9.2|   28.0|     0.0|       NULL|    NULL|         NE|         24.0|        SE|         E|        11.0|         9.0|       45.0|       16.0|     1017.6|     1012.8|    NULL|    NULL|   18.1|   26.5|       No|          No|2008|   12|  4|          14.0|             14.0|             2.0|            10.0|            0.0|               0.0| (49,[14],[1.0])|    (17,[14],[1.0])|    (17,[2],[1.0])|   (17,[10],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|   17.5|   32.3|     1.0|       NULL|    NULL|          W|         41.0|       ENE|        NW|         7.0|        20.0|       82.0|       33.0|     1010.8|     1006.0|     7.0|     8.0|   17.8|   29.7|       No|          No|2008|   12|  5|          14.0|              0.0|            11.0|             8.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[0],[1.0])|   (17,[11],[1.0])|    (17,[8],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
only showing top 5 rows

**13. The RainTomorrow is the label, and all other fields are features.**

In [26]:
# RainTomorrow is label and all other fields are features

label_col = "RainTomorrow"
feature_cols = [col for col in encoded_data.columns if col != label_col]

**14. You may use the median value (median imputation) of each field to fill null values if it is a
numerical column. Use the most frequent value in case of a categorical column**

In [27]:
# Import necessary libraries

from pyspark.ml.feature import MinMaxScaler, Imputer

In [28]:
# Fill null values with most frequent for categorical columns

for col in categorical_variables:
    mode = encoded_data.groupBy(col).count().orderBy("count", ascending=False).first()[0]
    encoded_data = encoded_data.fillna({col: mode})

In [29]:
# Impute null values for numerical columns with median

numerical_cols = [col for col, dtype in data.dtypes if dtype != 'string']

imputer = Imputer(strategy='median', inputCols=numerical_cols, outputCols=numerical_cols)
imputed_data = imputer.fit(encoded_data).transform(encoded_data)

In [30]:
# Display data after replacing null values with most frequent for categorical columns and with median for numerical columns

print("Data after replacing null values with most frequent for categorical columns and with median for numerical columns\n")
imputed_data.show(5)

Data after replacing null values with most frequent for categorical columns and with median for numerical columns

+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|Year|Month|Day|Location_index|WindGustDir_index|WindDir9am_index|WindDir3pm_index|RainToday_index|RainTomorrow_index|Location_encoded|WindGustDir_encoded|WindDir9am_encoded|WindDir3pm_encoded|RainToday_encoded|RainTomorrow_encoded|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
|  Albury|   13.4|   22.9|     0.6|        4.8|     8.5|          W|         44.0|         W|       WNW|        20.0|        24.0|       71.0|       22.0|     1007.7|     1007.1|     8.0|     5.0|   16.9|   21.8|       No|          No|2008|   12|  1|          14.0|              0.0|             7.0|             7.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[0],[1.0])|    (17,[7],[1.0])|    (17,[7],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|    7.4|   25.1|     0.0|        4.8|     8.5|        WNW|         44.0|       NNW|       WSW|         4.0|        22.0|       44.0|       25.0|     1010.6|     1007.8|     5.0|     5.0|   17.2|   24.3|       No|          No|2008|   12|  2|          14.0|             10.0|            10.0|             3.0|            0.0|               0.0| (49,[14],[1.0])|    (17,[10],[1.0])|   (17,[10],[1.0])|    (17,[3],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|   12.9|   25.7|     0.0|        4.8|     8.5|        WSW|         46.0|         W|       WSW|        19.0|        26.0|       38.0|       30.0|     1007.6|     1008.7|     5.0|     2.0|   21.0|   23.2|       No|          No|2008|   12|  3|          14.0|              7.0|             7.0|             3.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[7],[1.0])|    (17,[7],[1.0])|    (17,[3],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|    9.2|   28.0|     0.0|        4.8|     8.5|         NE|         24.0|        SE|         E|        11.0|         9.0|       45.0|       16.0|     1017.6|     1012.8|     5.0|     5.0|   18.1|   26.5|       No|          No|2008|   12|  4|          14.0|             14.0|             2.0|            10.0|            0.0|               0.0| (49,[14],[1.0])|    (17,[14],[1.0])|    (17,[2],[1.0])|   (17,[10],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|   17.5|   32.3|     1.0|        4.8|     8.5|          W|         41.0|       ENE|        NW|         7.0|        20.0|       82.0|       33.0|     1010.8|     1006.0|     7.0|     8.0|   17.8|   29.7|       No|          No|2008|   12|  5|          14.0|              0.0|            11.0|             8.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[0],[1.0])|   (17,[11],[1.0])|    (17,[8],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
only showing top 5 rows

**15. Normalize each numerical column (bring it to a value between 0 and 1)**

In [31]:
# Normalize numerical columns

for col in numerical_cols:
    if col != label_col:  # Exclude the label column
        minimum = imputed_data.agg({col: "min"}).collect()[0][0]
        maximum = imputed_data.agg({col: "max"}).collect()[0][0]
        imputed_data = imputed_data.withColumn(col, (imputed_data[col] - minimum) / (maximum - minimum))

In [32]:
# Display data after normalising each numerical column

print("Data after normalising each numerical column\n")
imputed_data.show(5)

Data after normalising each numerical column

+--------+-------------------+------------------+--------------------+-------------------+------------------+-----------+-------------------+----------+----------+-------------------+-------------------+-----------+-----------+-------------------+-------------------+------------------+------------------+------------------+------------------+---------+------------+----+-----+-------------------+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
|Location|            MinTemp|           MaxTemp|            Rainfall|        Evaporation|          Sunshine|WindGustDir|      WindGustSpeed|WindDir9am|WindDir3pm|       WindSpeed9am|       WindSpeed3pm|Humidity9am|Humidity3pm|        Pressure9am|        Pressure3pm|          Cloud9am|          Cloud3pm|           Temp9am|           Temp3pm|RainToday|RainTomorrow|Year|Month|                Day|Location_index|WindGustDir_index|WindDir9am_index|WindDir3pm_index|RainToday_index|RainTomorrow_index|Location_encoded|WindGustDir_encoded|WindDir9am_encoded|WindDir3pm_encoded|RainToday_encoded|RainTomorrow_encoded|
+--------+-------------------+------------------+--------------------+-------------------+------------------+-----------+-------------------+----------+----------+-------------------+-------------------+-----------+-----------+-------------------+-------------------+------------------+------------------+------------------+------------------+---------+------------+----+-----+-------------------+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
|  Albury| 0.5165094339622641|0.5236294896030246|0.001617250673854...|0.03310344827586207|0.5862068965517241|          W|0.29457364341085274|         W|       WNW|0.15384615384615385|0.27586206896551724|       0.71|       0.22| 0.4495867768595049|0.48000000000000087|0.8888888888888888|0.5555555555555556|0.5084388185654007|0.5220729366602688|       No|          No| 0.1|  1.0|                0.0|          14.0|              0.0|             7.0|             7.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[0],[1.0])|    (17,[7],[1.0])|    (17,[7],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|              0.375|0.5652173913043479|                 0.0|0.03310344827586207|0.5862068965517241|        WNW|0.29457364341085274|       NNW|       WSW|0.03076923076923077|0.25287356321839083|       0.44|       0.25|0.49752066115702515| 0.4911999999999998|0.5555555555555556|0.5555555555555556|0.5147679324894514|0.5700575815738964|       No|          No| 0.1|  1.0|0.03333333333333333|          14.0|             10.0|            10.0|             3.0|            0.0|               0.0| (49,[14],[1.0])|    (17,[10],[1.0])|   (17,[10],[1.0])|    (17,[3],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury| 0.5047169811320754|0.5765595463137997|                 0.0|0.03310344827586207|0.5862068965517241|        WSW|0.31007751937984496|         W|       WSW|0.14615384615384616| 0.2988505747126437|       0.38|        0.3|  0.447933884297521| 0.5056000000000013|0.5555555555555556|0.2222222222222222|0.5949367088607594|0.5489443378119002|       No|          No| 0.1|  1.0|0.06666666666666667|          14.0|              7.0|             7.0|             3.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[7],[1.0])|    (17,[7],[1.0])|    (17,[3],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury|0.41745283018867924|0.6200378071833648|                 0.0|0.03310344827586207|0.5862068965517241|         NE|0.13953488372093023|        SE|         E|0.08461538461538462|0.10344827586206896|       0.45|       0.16| 0.6132231404958681| 0.5711999999999999|0.5555555555555556|0.5555555555555556|0.5337552742616033|0.6122840690978887|       No|          No| 0.1|  1.0|                0.1|          14.0|             14.0|             2.0|            10.0|            0.0|               0.0| (49,[14],[1.0])|    (17,[14],[1.0])|    (17,[2],[1.0])|   (17,[10],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
|  Albury| 0.6132075471698113|0.7013232514177693|0.002695417789757...|0.03310344827586207|0.5862068965517241|          W| 0.2713178294573643|       ENE|        NW|0.05384615384615385|0.22988505747126436|       0.82|       0.33| 0.5008264462809909| 0.4624000000000005|0.7777777777777778|0.8888888888888888|0.5274261603375526|0.6737044145873321|       No|          No| 0.1|  1.0|0.13333333333333333|          14.0|              0.0|            11.0|             8.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[0],[1.0])|   (17,[11],[1.0])|    (17,[8],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|
+--------+-------------------+------------------+--------------------+-------------------+------------------+-----------+-------------------+----------+----------+-------------------+-------------------+-----------+-----------+-------------------+-------------------+------------------+------------------+------------------+------------------+---------+------------+----+-----+-------------------+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
only showing top 5 rows

**16. Train your Logistic Regression model on the training dataset (70% 30% split)**

In [36]:
# Encode label column

label_indexer = StringIndexer(inputCol=label_col, outputCol="label")
indexed_df = label_indexer.fit(imputed_data).transform(imputed_data)

In [37]:
# Assemble feature columns

feature_cols = [col for col in indexed_df.columns if col not in categorical_variables + [label_col]]
assembler = VectorAssembler(inputCols=feature_cols, outputCol="features")
assembled_data = assembler.transform(indexed_df)

In [38]:
assembled_data.show(5)

+--------+-------------------+------------------+--------------------+-------------------+------------------+-----------+-------------------+----------+----------+-------------------+-------------------+-----------+-----------+-------------------+-------------------+------------------+------------------+------------------+------------------+---------+------------+----+-----+-------------------+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+-----+--------------------+
|Location|            MinTemp|           MaxTemp|            Rainfall|        Evaporation|          Sunshine|WindGustDir|      WindGustSpeed|WindDir9am|WindDir3pm|       WindSpeed9am|       WindSpeed3pm|Humidity9am|Humidity3pm|        Pressure9am|        Pressure3pm|          Cloud9am|          Cloud3pm|           Temp9am|           Temp3pm|RainToday|RainTomorrow|Year|Month|                Day|Location_index|WindGustDir_index|WindDir9am_index|WindDir3pm_index|RainToday_index|RainTomorrow_index|Location_encoded|WindGustDir_encoded|WindDir9am_encoded|WindDir3pm_encoded|RainToday_encoded|RainTomorrow_encoded|label|            features|
+--------+-------------------+------------------+--------------------+-------------------+------------------+-----------+-------------------+----------+----------+-------------------+-------------------+-----------+-----------+-------------------+-------------------+------------------+------------------+------------------+------------------+---------+------------+----+-----+-------------------+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+-----+--------------------+
|  Albury| 0.5165094339622641|0.5236294896030246|0.001617250673854...|0.03310344827586207|0.5862068965517241|          W|0.29457364341085274|         W|       WNW|0.15384615384615385|0.27586206896551724|       0.71|       0.22| 0.4495867768595049|0.48000000000000087|0.8888888888888888|0.5555555555555556|0.5084388185654007|0.5220729366602688|       No|          No| 0.1|  1.0|                0.0|          14.0|              0.0|             7.0|             7.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[0],[1.0])|    (17,[7],[1.0])|    (17,[7],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|  0.0|(131,[0,1,2,3,4,5...|
|  Albury|              0.375|0.5652173913043479|                 0.0|0.03310344827586207|0.5862068965517241|        WNW|0.29457364341085274|       NNW|       WSW|0.03076923076923077|0.25287356321839083|       0.44|       0.25|0.49752066115702515| 0.4911999999999998|0.5555555555555556|0.5555555555555556|0.5147679324894514|0.5700575815738964|       No|          No| 0.1|  1.0|0.03333333333333333|          14.0|             10.0|            10.0|             3.0|            0.0|               0.0| (49,[14],[1.0])|    (17,[10],[1.0])|   (17,[10],[1.0])|    (17,[3],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|  0.0|(131,[0,1,3,4,5,6...|
|  Albury| 0.5047169811320754|0.5765595463137997|                 0.0|0.03310344827586207|0.5862068965517241|        WSW|0.31007751937984496|         W|       WSW|0.14615384615384616| 0.2988505747126437|       0.38|        0.3|  0.447933884297521| 0.5056000000000013|0.5555555555555556|0.2222222222222222|0.5949367088607594|0.5489443378119002|       No|          No| 0.1|  1.0|0.06666666666666667|          14.0|              7.0|             7.0|             3.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[7],[1.0])|    (17,[7],[1.0])|    (17,[3],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|  0.0|(131,[0,1,3,4,5,6...|
|  Albury|0.41745283018867924|0.6200378071833648|                 0.0|0.03310344827586207|0.5862068965517241|         NE|0.13953488372093023|        SE|         E|0.08461538461538462|0.10344827586206896|       0.45|       0.16| 0.6132231404958681| 0.5711999999999999|0.5555555555555556|0.5555555555555556|0.5337552742616033|0.6122840690978887|       No|          No| 0.1|  1.0|                0.1|          14.0|             14.0|             2.0|            10.0|            0.0|               0.0| (49,[14],[1.0])|    (17,[14],[1.0])|    (17,[2],[1.0])|   (17,[10],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|  0.0|(131,[0,1,3,4,5,6...|
|  Albury| 0.6132075471698113|0.7013232514177693|0.002695417789757...|0.03310344827586207|0.5862068965517241|          W| 0.2713178294573643|       ENE|        NW|0.05384615384615385|0.22988505747126436|       0.82|       0.33| 0.5008264462809909| 0.4624000000000005|0.7777777777777778|0.8888888888888888|0.5274261603375526|0.6737044145873321|       No|          No| 0.1|  1.0|0.13333333333333333|          14.0|              0.0|            11.0|             8.0|            0.0|               0.0| (49,[14],[1.0])|     (17,[0],[1.0])|   (17,[11],[1.0])|    (17,[8],[1.0])|    (3,[0],[1.0])|       (2,[0],[1.0])|  0.0|(131,[0,1,2,3,4,5...|
+--------+-------------------+------------------+--------------------+-------------------+------------------+-----------+-------------------+----------+----------+-------------------+-------------------+-----------+-----------+-------------------+-------------------+------------------+------------------+------------------+------------------+---------+------------+----+-----+-------------------+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+-----+--------------------+
only showing top 5 rows

In [39]:
# Split the dataset into training and testing sets (70% 30% split)

train_data, test_data = assembled_data.randomSplit([0.7, 0.3], seed=42)

In [40]:
# Train Logistic Regression model

lr = LogisticRegression(featuresCol="features", labelCol="label")

In [41]:
lr_model = lr.fit(train_data)

**17. Predict the RainTomorrow for the test set.**

In [42]:
# Predict RainTomorrow for the test set
predictions = lr_model.transform(test_data)

# Show predicted values for RainTomorrow
predictions.select("RainTomorrow", "prediction").show()

+------------+----------+
|RainTomorrow|prediction|
+------------+----------+
|         Yes|       1.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
+------------+----------+
only showing top 20 rows

**18. Describe the performance of your model using the confusion matrix and print TP, TN,
FP, and FN. In addition, provide the accuracy and F1 score of your model.**

In [43]:
# Evaluate the model

evaluator = BinaryClassificationEvaluator(labelCol="label")
accuracy = evaluator.evaluate(predictions)

In [44]:
# Confusion Matrix

print("Confusion Matrix:\n")
predictions.groupBy("label", "prediction").count().show()

Confusion Matrix:

+-----+----------+-----+
|label|prediction|count|
+-----+----------+-----+
|  1.0|       1.0| 9539|
|  0.0|       0.0|33066|
+-----+----------+-----+

In [45]:
# True Positives (TP)
tp = predictions.filter((predictions["label"] == 1) & (predictions["prediction"] == 1)).count()

# True Negatives (TN)
tn = predictions.filter((predictions["label"] == 0) & (predictions["prediction"] == 0)).count()

# False Positives (FP)
fp = predictions.filter((predictions["label"] == 0) & (predictions["prediction"] == 1)).count()

# False Negatives (FN)
fn = predictions.filter((predictions["label"] == 1) & (predictions["prediction"] == 0)).count()

In [46]:
# Precision, Recall and f1_score

precision = tp / (tp + fp)
recall = tp / (tp + fn)
f1_score = 2 * (precision * recall) / (precision + recall)

In [47]:
# Print True Positiives, True Negatives, False Positives, False Negatives

print("True Positives:", tp)
print("\nTrue Negatives:", tn)
print("\nFalse Positives:", fp)
print("\nFalse Negatives:", fn)

True Positives: 9539

True Negatives: 33066

False Positives: 0

False Negatives: 0

In [48]:
# Print Accuracy and F1 Score

print("Accuracy:", accuracy)
print("\nF1 Score:", f1_score)

Accuracy: 0.9999997067370341

F1 Score: 1.0